{% extends 'base.html' %}
{% load static %}
{% block title %}Upload Materials{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="glass-card p-5 mx-auto" style="max-width:600px;">
    <h4 class="text-white mb-3">Upload Learning Material</h4>
    <p class="text-secondary">
        Upload PDFs or images for allocated students.
    </p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="text-secondary">Title</label>
            {{ form.title }}
        </div>

        <div class="mb-4">
            <label class="text-secondary">File</label>
            {{ form.file }}
        </div>

        <button class="btn btn-warning w-100 rounded-pill">
            Upload
        </button>
    </form>
</div>

{% endblock %}
